.doctor_extra_infor {
    padding-left: 20px;

    .doctor_extra_infor-up {
        padding-bottom: 10px;

        .address {
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }

        .name_clinic {
            font-weight: bold;
            font-size: 13px;
        }

        .location {
            font-size: 13px;
            padding: 3px 0;
        }
    }

    .doctor_extra_infor-down {
        padding-top: 10px;
        border-top: 1px solid #eee;

        .title {
            text-transform: uppercase;
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }

        .price {
            font-size: 14px;
        }

        .show {
            cursor: pointer;
            color: #39cfe2;
        }

        .show_data {
            border: 1px solid #d8d8d8;

            .price_show {
                padding: 5px 4px 0px 4px;
                background: #f7f7f7;
                display: flex;
                justify-content: space-between;

                .title_price {
                    font-size: 14px;
                    color: #666;
                    font-weight: bold;
                }
            }

            .discription {
                font-size: 15px;
                background: #f7f7f7;
                padding: 10px 4px 10px 4px;
                border-top: 1px solid #d8d8d8;
                border-bottom: 1px solid #d8d8d8;
            }

            .method_pay {
                font-size: 15px;
                background: #ededed;
                padding: 10px 4px 10px 4px;
            }

        }

        .hide {
            padding-top: 10px;
            cursor: pointer;
            color: #39cfe2;
        }
    }
}

.not_data {
    p {
        font-size: 19px;
        font-weight: bold;
        color: #5e5b5b;
        font-style: italic;
        margin-left: 20px;
    }
}